* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100%;

  background: linear-gradient(to top left, #805d15, #553900);

  /* font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif"; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  text-shadow: 0 1px 0 #f7dba2;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.2;
}
.italic {
  font-style: italic;
}
h5 {
  color: #483101;
  text-shadow: none;
}
hr {
  border-top-color: #2bff95;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #f2ff00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}

.container hr,
.App-header hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
.container hr {
  border-top-color: #9c8248;

  border-bottom-color: #ffdd94;
}

.App-header hr {
  border-top-color: #3e2a01;
  border-bottom-color: #865f0d;
}

.content {
  margin: 50px 100px;
  color: #d4b26a;
  text-transform: uppercase;
}
.content,
.footer {
  color: #d4b26a;
  text-transform: uppercase;
}
.container {
  background-color: #d4b26a;
  border-radius: 10px;
  padding: 5% 3%;
  color: #805d15;
  margin: 50px 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.footer {
  background: linear-gradient(to bottom right, #a5771b, #553900);
  padding: 50px;
  text-shadow: none;
}
.text-align {
  text-align: center;
}
@media (max-width: 499px) {
  .main-content {
    margin: 30px 30px;
  }
  .container {
    margin: 30px 15px;
  }
}
/* buttons */
.btn {
  background-color: #ffad00;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border-color: #d69102;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #d69101;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: #7f5604;
  /* font-family: "Indie Flower", cursive; */
  margin: 10px;
  outline: none;
  font-size: 1rem;
  padding: 10px 20px;
}
.btn:hover {
  /* opacity: 0.5; */
  transition: 0.3s;
  color: #fff;
  background-color: #b38a34;
}
input {
  background-color: #b38a34;
  padding: 10px;
  border-radius: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #ffd67f;
}

.output-result {
  background-color: #7b5b18;
  /* margin: 10px; */
  width: 50%;
  margin: 20px auto auto;
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
}

.changable-text {
  color: #d4b26a;
}

.App {
  text-align: center;
}
