* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  /* background: linear-gradient(to top left, #28b487, #7dd56f); */
  background: linear-gradient(to top left, #4d774e, #164a41);
  color: #9dc88d;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-weight: normal;
  box-sizing: border-box;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p {}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
hr {
  border-top-color: #1e3c2d;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #3b8664;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
.container hr {
  border-top-color: #7da070;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #b8eaa7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
.main-content {
  padding: 50px 100px;
}
.container {
  background-color: #9dc88d;
  border-radius: 10px;
  padding: 5% 3%;
  color: #164a41;
  margin: 50px 100px;
  /*
  display: flex;
  justify-content: center;
  align-items: center;
*/
}
.footer {
  /* background-color: #164a41;*/
  background: linear-gradient(to top right, #164a41, #4d774e);
  padding: 50px;
}
.text-align {
  text-align: center;
}
@media (max-width:499px) {
  .main-content {
    padding: 30px 30px;
  }
  .container {
    margin: 30px 15px;
  }
}
/* Sidebar Collapsable menu 
============================*/
#main {
  transition: margin-left .4s;
}
#mySidebar {
  width: 25%
}
.sidebarMenu {
  height: 100%;
  width: 200px;
  background-color: #043028;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding-top: 50px;
}
.sidebarMenu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebarMenu hr {
  border-top-color: #010a08;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #0a5a4c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
li.menu-item {
  display: block;
  border-color: #41965f #3b8564 #0f2d1a;
  border-style: solid none solid;
  border-width: 1px 0 1px;
  background-color: #266d3f;
  font-size: 16px;
}
li.menu-item:hover {
  background-color: #2b7d48;
}
li.menu-item.css {
  border-right-color: #9ecaef;
  border-right-width: 5px;
  border-right-style: solid;
}
li.menu-item.js {
  border-right-color: #9dc88d;
  border-right-width: 5px;
  border-right-style: solid;
}
li.menu-item.react {
  border-right-color: #d88b00;
  border-right-width: 5px;
  border-right-style: solid;
}
li.menu-item.home {
  border-right-color: #e6c000;
  border-right-width: 5px;
  border-right-style: solid;
  background-color: #9c8616;
}
li.menu-item.home a {
  color: #e6c000;
}
li.menu-item a {
  color: #80bd6b;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}
.menu-title {
  padding: 15px;
  text-align: center;
  color: #9dc88e;
}
.menu-large {
  font-size: 18px !important
}
.menu-xlarge {
  font-size: 24px !important
}
button#openNav {
  margin-bottom: 25px;
  border-radius: 7px;
}
button.close {
  position: relative;
  right: -80%;
  border-radius: 7px;
}
.menu-btn, .menu-button {
  border: none;
  display: inline-block;
  padding: 10px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  /*  background-color: inherit;*/
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #2e6f4b;
}
.menu-btn, .menu-button:hover {
  background-color: #9dc88e;
  color: #235445;
}
.menu-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}
.sidebar-block .menu-item {
  max-width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: center;
  white-space: normal;
  float: none;
  outline: 0
}
.menuCard {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
@media (max-width:600px) {
  .menu--bar-item.menu--mobile {
    text-align: center
  }
}
@media (min-width:993px) {
  .sidebarMenu.menu--collapse {
    display: block !important
  }
}
@media (max-width:992px) {
  .sidebarMenu.menu--collapse {
    display: none
  }
  .menu--main {
    margin-left: 0 !important;
    margin-right: 0 !important
  }
}
@media (max-width:600px) {
  #mySidebar {
    width: 100%
  }
}
.menuAnimate-left {
  position: relative;
  animation: animateleft 0.4s
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}
/* Quiz 
=============*/
#question {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  background-color: #c9f5ba;
  padding: 10px;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  /*  width: 70%;*/
  position: relative;
  margin: 0 auto;
}
#quiz-container {
  background-color: #1f7153;
  width: 50%;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
}
#quiz-container hr {
  border-top-color: #195a42;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #299870;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
.quiz {
  background-color: #c9f5ba;
  padding: 15px;
  border-radius: 10px;
}
.quiz-select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: relative;
  margin-top: 10px;
  background-color: #c9f5ba;
  border-radius: 10px;
}
.q-title {
  /*  background-color: #c9f5ba;*/
  padding: 15px;
  display: relative;
  flex-grow: 1;
  border-radius: 10px;
}
.circle-l, .circle-r {
  width: 70px;
  height: 70px;
  background: #c9f5ba;
  clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #1f7153;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-r {
  left: 35px;
}
.circle-l {
  right: 35px;
}
.correct {
  background-color: #00c37c;
  color: #1f7153;
}
.wrong {
  background-color: #fd6569;
  color: #1f7153;
}
.correct, .wrong {
  border-radius: 10px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
/* buttons */
.btn {
  background-color: #5c9049;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border-color: #9bd088;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #497938;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: #abe697;
  font-family: 'Indie Flower', cursive;
  margin: 10px;
  outline: none;
  font-size: 2rem;
  padding: 10px 20px;
}
.btn:hover {
  opacity: 0.5;
  transition: 0.3s;
  color: #fff;
}
.start-btn, .next-btn, .prev-btn {
  font-size: 25px;
  padding: 20px 50px;
}