* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: #37474f;
  background: linear-gradient(to top left, #335875, #1b364c);
  color: #728DA5;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  font-weight: normal;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
hr {
  border-top-color: #132d42;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #36658c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
/*
.container hr {
  border-top-color: #D02124;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #b8eaa7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;

}
*/
.main-content {
  padding: 50px 100px;
}
.container {
  background-color: #a3c4e0;
  border-radius: 10px;
  padding: 5% 3%;
  color: #101010;
  margin: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  /* background-color: #164a41;*/
  background: linear-gradient(to top right, #1b364c, #1b364c);
  padding: 50px;
}
.text-align {
  text-align: center;
}
@media (max-width:499px) {
  .main-content {
    padding: 30px 30px;
  }
  .container {
    margin: 30px 15px;
  }
}
/* Sidebar Collapsable menu 
============================*/
.sidebarMenu {
  height: 100%;
  width: 200px;
  background-color: #0f273c;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding-top: 100px;
}
.sidebarMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.menu--bar-item.menu--button {
  display: block;
  border-color: #3e719a #2a4c67 #0b151d;
  border-style: solid none solid;
  border-width: 1px 0 1px;
  background-color: #235073;
  font-size: 16px;
  padding: 15px;
}
li.menu--bar-item.menu--button a {
  color: #5684a9;
}
.menu-title {
  padding: 15px;
  text-align: center;
  background-color: #a3c4e0;
  color: #0f283c;
}
.menu--card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
.menu--animate-left {
  position: relative;
  animation: animateleft 0.4s
}
.menu--large {
  font-size: 30px !important;
  margin-bottom: 30px;
}
.menu--button:hover {
  color: #a3c4e0 !important;
  background-color: #133856 !important
}
.menu--main, #main {
  transition: margin-left .4s
}
.menu--btn, .menu--button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 30px;
}
.menu--btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.menu--btn, .menu--button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.menu--disabled, .menu--btn:disabled, .menu--button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}
.menu--bar .menu--bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.menu--bar .menu--button {
  white-space: normal
}
.menu--bar-block .menu--bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: center;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.menu--bar-block.menu--center .menu--bar-item {
  text-align: center
}
@media (max-width:600px) {
  .menu--bar-item.menu--mobile {
    text-align: center
  }
}
@media (min-width:993px) {
  .sidebarMenu.menu--collapse {
    display: block !important
  }
}
@media (max-width:992px) {
  .sidebarMenu.menu--collapse {
    display: none
  }
  .menu--main {
    margin-left: 0 !important;
    margin-right: 0 !important
  }
}
/* Animations 
=============*/
/*Animation - Opdracht 06*/
.animation-box {
  background-color: #831B1D;
  width: 150px;
  height: 150px;
  padding: 15px;
  animation-name: ephrem;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  /*	animation-timing-function: ease-in-out;*/
  animation-timing-function: linear;
  transform: rotate(360deg)
}
@keyframes ephrem {
  0% {
    border-radius: 0 0 0 0;
    transform: rotate(60deg);
    background-color: #AB181B;
  }
  25% {
    border-radius: 50% 0 0 0;
    transform: rotate(90deg);
    background-color: #CE996A;
  }
  50% {
    border-radius: 50% 50% 0 0;
    transform: rotate(120deg);
    background-color: #E78A75;
  }
  75% {
    border-radius: 50% 50% 50% 0;
    transform-rotate: (-180deg);
    background-color: #FD0808;
  }
  100% {
    border-radius: 50% 50% 50% 50%;
    transform: rotate(-360deg);
    background-color: #663601;
  }
}