/* - Card -
===========================================*/

.card-wraper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.card-wraper > div {
  text-align: center;

  font-size: 30px;
  flex: 1 1;

  flex-grow: 1;
  flex-basis: 0;
  /* min-width: 25%; */
}
.card-inner {
  margin: 25px 10px;
}
.card {
  position: relative;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: rgb(38 57 77) 0px 20px 30px -20px;
}

.card:hover {
  border: 1px solid #343a40;
  border-radius: 4px;
}

.rounded-card {
  position: relative;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  border-radius: 1rem;
  padding-top: 2rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card img {
  height: auto;
  width: 100%;
  border-radius: 7px;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-text {
  margin-bottom: 1px;
}

.flexible {
  flex-grow: 1;
}
.card-footer {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 15px;
}

.rating {
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.flexible {
  flex-grow: 1;
}
