/* - featured sale  - 
===========================================*/
.featured-wrapper {
  position: relative;
}

.featured {
  position: absolute;
  top: 2rem;
  left: 3rem;
  text-align: left;
}

.featured .card-title {
  font-size: 3.4rem;
}

.featured .card-text {
  font-size: 1.4rem;
  line-height: 1px;
  color: #fff;
}

/* Banners  */
.banner {
  position: relative;
  background-color: #2f2f2f;
}
.banner-btn {
  position: absolute;
  left: 0px;
  margin: auto;
  bottom: 0px;
  height: 75px;
  width: 20rem;
}

.banner img,
.banner {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 10px 0px 0px;
}
