/* - Basket - Sidebar Toggle Contents -
===========================================*/
.basket__toggle-content {
  background-color: #f1f1f1;
  width: 30%;
  height: 100vh;
  display: flex;
  position: fixed;
  right: -100%;
  transition: 850ms;
  padding-bottom: 5%;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

.basket__toggle-content.active {
  right: 0;
  transition: 350ms;
  z-index: 1;
}
.basket__toggle-close {
  width: 50px;
  height: 94px;
  background-color: #f1f1f1;
  display: block;
  position: absolute;
  left: -50px;
  color: #010101;
  border-color: #fff;
  border-width: -7px;
  border-style: solid;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}
.basket__toggle-content:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -25px;
  right: 45px;
  border-left: 25px solid rgba(0, 0, 0, 0);
  border-right: 25px solid rgba(0, 0, 0, 0);
  border-bottom: 25px solid #f1f1f1;
  z-index: 2;
}

.basket__toggler {
  color: #676f77;
}

/* for shopping cart */
.col {
  display: flex;
  align-items: center;
  flex: 2 1;
}

.col-xs {
  margin: 0 10px;
}

.block {
  background-color: #f1f1f1;
  padding: 2rem 2rem;
  margin: 1rem;
  border-radius: 1rem;
  border-color: #fff;
  border-width: 3px;
  overflow: scroll;
}

.remove-item {
  background-color: #f04040;
}
.add-item {
  background-color: #23282c;
}

.btn--remove-add {
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #ffffff solid;

  cursor: pointer;
  font-size: 3rem;
  color: #fff;
  width: 3rem;
}

.text-right {
  text-align: right;
}

/* Cart Count Badge */
i.cartCount {
  position: relative;
  top: -50px;
  font-size: 1rem;

  color: #fff;

  vertical-align: to;
  border-radius: 50px;
  left: -15px;

  background-color: #00a592;
  border-radius: 50%;

  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 16px;
}
.cartCheckout a {
  width: 100%;
}

.block .card {
  padding: 5px;
  box-shadow: none;
}
