/*  - Buttons -
===========================================*/

.btn {
  display: block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* padding: 0.375rem 0.75rem; */
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn--primary {
  color: #fff;
  background-color: $btn-bg-color-primary;
  border-color: #2edac6;
  padding: 10px 20px;
}
.btn--primary:hover {
  background-color: #03c9b2;
  color: #ecfdff;
}

.btn--secondary {
  border: 2px solid $light;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5e6977;
  background-color: $btn-bg-color-secondary;
  cursor: pointer;
  transition: all 0.5s;
}

.btn--secondary:hover {
  border: 2px solid #86939e;
  outline: none;
}
.subscribe--submit {
  background: $btn-bg-color-submit;
  border-color: #6d757d #6d757d #6d757d;
  color: #6d757d;

  float: right;

  cursor: pointer;

  font-size: 17px;

  border-radius: 2px;
  border-color: #4c545d;

  padding: 0.7rem;
}
.subscribe--submit:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  background-color: #6d757d;
  border-color: #16191a;
  color: #f5fbfc;
}

.btn--contact {
  font-weight: 500;
  color: #fff;
  background-color: $btn-bg-color-primary;
  border-color: #2edac6;
  padding: 10px 20px;
}
.btn--contact:hover {
  background-color: #03c9b2;
  color: #ecfdff;
}
.btn--clearCart {
  border: 2px solid #ecb4b4;
  padding: 10px 20px;
  color: #f56f6f;
  background-color: $light;
  margin-bottom: 15px;
}
.btn--clearCart:hover {
  background-color: #fff;
  color: #f56f6f;
}
.btn-block {
  display: block;
  width: 100%;
}
