/* Global Styles
===========================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100%;

  background: linear-gradient(to top left, #805d15, #553900);

  /* font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, "sans-serif"; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  text-shadow: 0 1px 0 #f7dba2;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
  color: ##805d16;
}

h6 {
  font-size: 1rem;
}
.italic {
  font-style: italic;
}

.content {
  margin: 50px 100px;
  color: #d4b26a;
  text-transform: uppercase;
}
.content,
.footer {
  color: #d4b26a;
  text-transform: uppercase;
}
.container {
  background-color: #d4b26a;
  border-radius: 10px;
  padding: 5% 3%;
  color: #805d15;
  margin: 50px 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.text-align {
  text-align: center;
}

/* Buttons 
===========================*/
.btn {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  font-size: 1rem;
  padding: 1.3em;
  border-width: 2px 5px 10px;
  border-style: solid;
  border-bottom-style: solid;
}

.btn--task {
  background-color: rgb(255, 0, 0);
  color: #ffdd94;

  border-color: #d40000 #d40000 #d40000;
}
.btn--submit {
  background-color: #ffad00;

  border-color: #ffad00 #d69101 #c18400;
  color: #75530f;
}

.btn--task:hover,
.btn--submit:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  border-style: solid;
  border-width: 2px 5px 10px;
  border-style: solid;

  border-color: #d69102 #d69102 #ffdd94;
}
.btn--task:hover {
  color: #fff;
  background-color: #ffad00;
}
.btn--submit:hover {
  color: #fff;
  background-color: #b38a34;
}
/* Componenet Styles
===========================*/
.output-result {
  margin: 20px auto auto;
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
}

.changable-text {
  color: #ffdd94;
}

.App {
  text-align: center;
}

.listItems,
.ToDo,
.output-result {
  width: 60%;
  margin: 0 auto;
}
.ToDo,
.output-result {
  border: 1px solid rgb(255, 234, 182);
  border-radius: 5px;

  transition: background-color 0.2s ease-out;
}

.create-ToDoTask input[type="text"] {
  width: 50%;
  outline: none;
}

input {
  background-color: #b38a34;
  padding: 0.7em;
  border-radius: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #ffd67f;
  margin-bottom: 15px;
  margin-top: 15px;
}
input:focus {
  background-color: #ffdd94;
}
.listItems p {
  padding: 7px 0 7px;
}
.listItems hr {
  padding-bottom: 5px;

  margin: 0 auto;
}
.listItems p,
.ToDo,
input,
input:focus {
  font-size: 1.5em;
  margin-top: 10px;
}

input,
::placeholder {
  color: rgb(108, 72, 0);
}

/* Horizontal Rules -Divider 
===========================*/
hr {
  border-top-color: #2bff95;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: #f2ff00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 20px 0 20px;
}
.App-header h2 {
  color: #926a16;
}
.container hr,
.App-header hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.container hr {
  border-top-color: #9c8248;

  border-bottom-color: #ffdd94;
}

.App-header hr {
  border-top-color: #3e2a01;
  border-bottom-color: #865f0d;
}

/* Footer 
===========================*/
.footer {
  background: linear-gradient(to bottom right, #a5771b, #553900);
  padding: 50px;
  text-shadow: none;
}
/* Media Queries
===========================*/
@media (max-width: 499px) {
  .main-content {
    margin: 30px 30px;
  }
  .container {
    margin: 30px 15px;
  }
}
