/*   - Footer -
===========================================*/
.footer {
  background: #343a40;
  padding: 50px;
  text-shadow: none;
  color: #6d757d;
}
.footer > p {
  font-size: 13px;
}
.footer h4 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.footer-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.footer-items > div {
  padding: 30px 15px;

  text-align: center;

  font-size: 30px;
  flex: 1 1 0%;
}
.copyright {
  background-color: #23282d;
  padding: 35px 15px;
  color: #6d757d;
  text-align: center;
}

/* Social Icons */
.s-icons {
  margin-right: 15px;
}
.s-icons:hover,
.user a:hover,
.cart a:hover,
.Account a:hover {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.footer-items a {
  color: #6d757d;
  text-decoration: underline;
}
.footer-items a:hover {
  color: #fff;
  text-decoration: underline;
}
.Account a,
.user a,
.cart a {
  color: #676f77;
  cursor: pointer;
}
