/* - Main Content 
===========================================*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid,
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.main-content {
  padding: 50px 100px;
  color: #00a592;
  text-transform: uppercase;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.container-fluid {
  padding: 2% 25px;
}

#root {
  height: 100%;
}
